-i https://pypi.org/simple/
asgiref==3.3.0
cffi==1.14.3
cryptography==3.2
django-appconf==1.0.4
django-cors-headers==3.2.1
django-cryptography==1.0
django==3.0.6
pycparser==2.20
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
uwsgi==2.0.18
wheel==0.34.2
